/* CSS Variables */
:root {
    --color-primary: #002040;
    --color-secondary:  #008512;
    --color-accent: #ffa500;
    --background-light: #f5f7fa;
    --background-dark: #707986;
    --color-white: #ffffff;
    --text-dark: #333333;
    --text-light: #666666;
    --border-radius: .5rem;
    
}

/* Base CSS */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: calc(.5em + .5vw);
}

#grid {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: repeat(5, auto);
    grid-row-gap: 0rem;
    grid-column-gap: 0rem;

}

/*Styling for headings*/
h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    color: var(--color-primary);
    margin-bottom: 2rem;
    margin-top: 4rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

h3 {
    color: var(--color-secondary);
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color-accent);
    font-weight: 600;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: linear-gradient(#003d8290, #003d8290);
    width: 100%;
    padding: 2rem 1rem;
}

#navbar-menu {
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 2rem;
    list-style: none;
    margin-right: 10rem;
}

#navbar-menu a {
    text-decoration: none;
    color: var(--color-white);
}


#navbar-menu a:hover {
    color: var(--color-accent);
    border-bottom: 2px solid var(--color-accent);

}

#navbar-menu li:hover {
    transform: scale(1.20);
    transition: ease .4s;
    
}

#logo {
    height: 3rem;
    width: 4rem;
    border-radius: .5rem;
    margin-left: 10rem;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#logo-p {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 700;
}

/*Hero section*/
#hero {
    grid-area: 1 / 1 / 2 / -1;
    height: 100vh;
    background-image: linear-gradient(#00851290, #00851290),
        url("/images/hero-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 13rem;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--color-white);
    text-align: center;
}

.hero-box p {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 600px;
}

.hero-box a {
    text-decoration: none;
    background: var(--color-accent);
    color: var(--color-white);
    padding: 1rem 3rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: background 0.3s ease;
}

#about {
    grid-area: 2 / 1 / 3 / -1;
    background: var(--background-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    background-color: var(--color-white);
    width: 70%;
    box-shadow: .2rem .2rem .3rem .3rem #00000060;
}

#about-container p {
    width: 100%;
    text-align: justify;
}

/*Side bar services summary*/
#services-summary {
    grid-area: 3 / 1 / 4 / 2;
    background: var(--background-light);
    padding: 1rem;
}

#services-summary--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 2rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    color: var(--text-dark);
    background-color: var(--background-light);
    margin-top: 7rem;
    margin-left: 2rem;
}

.services-summary--list {
    line-height: 2rem;
    font-size: 1.15rem;
    list-style: circle;
}

.services-summary--paragraph {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.15rem;
}

/*Projects section */
#projects {
    grid-area: 3 / 2 / 4 / -1;
    background: var(--background-light);
    padding: 1rem;
    height: 100vh;
}

/*Carousel for Projects sections*/
.carousel {
    position: relative;
    width: 90%;
    margin: 2rem auto;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.projects-card {
    min-width: 100%;
    position: relative;
}

.projects-card--image {
    width: 100%;
    height: 35rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.projects-card--paragraph {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: var(--color-white);
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    line-height: 1.5rem;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

/*Services Section*/
#services {
    grid-area: 4 / 1 / 5 / -1;
    background: var(--color-white);
    padding: var(--container-padding);
}

#services-card--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.services-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--background-light);
    height: 20rem;
    width: 20rem;
    padding: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    border-radius: var(--border-radius);
}

.services-card:hover {
    border: 1px solid var(--color-primary);
    transform: scale(1.10);
    transition: ease 0.3s;
}

.services-card p {
    text-align: left;
}

/*Testimonials section*/
#testimonials {
    grid-area: 5 / 1 / 6 / -1;
    background: var(--color-white);
    padding: 1rem;
}

.blockquote-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

blockquote {
    background-color: var(--background-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    height: 10rem;
    width: 40%;
    padding: 1rem 1.5rem;
    line-height: 1.8rem;
    border-radius: var(--border-radius);
}

/*Contact sectioin*/
#contact {
    grid-area: 6 / 1 / 7 / -1;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#contact-form {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 40%;
    padding: 3rem;
    border-radius: var(--border-radius);
    margin-bottom: 6rem;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
    width: 80%;
    padding: .8rem;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1.05rem;

}

#contact-form button {
    background-color: var(--color-accent);
}

/*.Footer section*/
.footer {
    grid-area: 7 / 1 / 8 / 11;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 2rem 5rem;
    font-size: .9rem;
}

.footer li,
.footer a,
.footer p {
    color: var(--color-white);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 2rem;
    
}

.footer-container li {
    list-style: none;
}

.footer-container a {
    text-decoration: none;
}

.footer-heading {
    color: var(--color-accent);
    font-size: 1.05rem;
    margin-bottom: 1rem;
}

.footer-paragraph {
    max-width: 12rem;
}

.footer-container--about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: .5rem;
}
 .footer i {
    margin-right: 1rem;
 }


.footer-copyright {
    text-align: center;
    margin-top: 2rem;
    font-size: .8rem;
}